#selectedAdministration {
    -fx-font-size: 18px;
    -fx-font-weight: normal;
}

#selectedAdministration_focus {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

#statisticButton {
    -fx-font-size: 18px;
    -fx-region-background: null;
}

#statisticButton_focus {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-region-background: null;
}

#exitButton {
    -fx-font-size: 14px;
    -fx-region-background: null;
}

#buttonMenu {
    -fx-font-size: 14px;
    -fx-region-background: null;
}

#buttonMenu_focus {
    -fx-font-size: 14px;
    -fx-region-background: null;
    -fx-font-weight: bold;
    -fx-underline: true;
}
